<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>

	<link rel="icon" th:href="@{assets/images/favicon.ico}"  href="../static/assets/images/favicon.ico" />
	
	<title>Ingo's World</title>
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/dist/css/bootstrap.min.css}" href="../static/dist/css/bootstrap.min.css" />
	
	
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/starter-template.css}" href="../static/assets/css/starter-template.css" />
	<script th:src="@{/assets/js/ie-emulation-modes-warning.js}" src="../static/assets/js/ie-emulation-modes-warning.js"></script>

  </head>

  <body>

	<div th:include="fragments/navbar" th:remove="tag">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="listfractals.html" th:href="@{/listfractals}">Mandelbrot Set</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li th:class="${page} == 'listfractals'? 'active'">
							<a href="listfractals.html" th:href="@{/listfractals}">Browse</a>
						</li>
						<li th:class="${page} == 'mandelbrot'? 'active'">
							<a href="mandelbrot.html" th:href="@{/mandelbrot}">Create</a>
						</li>
						<li class="active" th:class="${page} == 'about'? 'active'">
							<a href="about.html" th:href="@{/about.html}">About</a>
						</li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
	</div>

    <div class="container">

      <div class="starter-template">
        <h1>About</h1>
        <p class="lead">Explore the Mandelbrot Set.</p>
        <p class="text-justify">
        	Using this web application you can explore the   
        	<a href="https://en.wikipedia.org/wiki/Mandelbrot_set">Mandelbrot Set</a>.
        	My first images of the Mandelbrot Set I computed on a Sinclair ZX Spektrum using HiSoft Pascal 4.
        <br/>	 
        	This is my second try - but mainly this is about toying around with some features of 
        	<a href="http://projects.spring.io/spring-boot/">Spring Boot</a>, 
        	<a href="http://projects.spring.io/spring-framework/">Spring Framework</a>,
        	<a href="http://neo4j.com/">neo4j</a>, 
        	<a href="http://getbootstrap.com/">Bootstrap</a> and 
        	<a href="http://www.thymeleaf.org/">Thymeleaf</a>.	
        </p>
      </div>

    </div><!-- /.container -->


	<script th:src="@{/dist/js/bootstrap.min.js}" src="../static/dist/js/bootstrap.min.js"></script>
	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script th:src="@{/assets/js/ie-emulation-modes-warning.js}" src="../static/assets/js/ie-emulation-modes-warning.js"></script>	
  </body>
</html>
