body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.product {
    position: relative
}
.zoom-btn {
    font-size: 2rem;
    position: absolute;
    top: 5px;
    right: 5px;
}
a.darken {
    display: inline-block;
    background: #337ab7;
    padding: 0;
    border:0
}

a.darken img {
    display: block;
}

a.darken:hover img {
    background: #23527c;
    border:0
}