<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="../listfractals.html" th:href="@{/listfractals}">Mandelbrot Set</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li th:class="${'${execInfo.templateName}'.startsWith('listfractals')}? 'active'">
					<a href="../listFractals.html" th:href="@{/listfractals}">Browse</a>
				</li>
				<li th:class="${execInfo.templateName} == 'mandelbrot'? 'active'">
					<a href="../mandelbrot.html" th:href="@{/mandelbrot}">Create</a>
				</li>
				<li th:class="${execInfo.templateName} == 'about'? 'active'">
					<a href="../about.html" th:href="@{/about}">About</a>
				</li>
			</ul>
			<!-- <span sec:authentication="name">Bob</span></p> -->
			<ul class="nav navbar-nav navbar-right">
				<li>
					<p class="navbar-text">User: <a href="../profile.html" th:href="@{/profile}"><strong><span sec:authentication="name">Bob</span></strong></a></p>
				</li>
				<li sec:authorize="hasRole('ROLE_ANONYMOUS')" id="menuLogin"><a class="dropdown-toggle"
					href="login.html" th:href="@{/login}" id="navLogin">Login</a></li>
				<li sec:authorize="hasRole('ROLE_USER')"  id="menuLogout">
					<a class="dropdown-toggle" role="button" th:href="@{/logout}" id="navLogout">Log out</a>
				</li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>