<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Hello World</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
			<!--  TODO: Set active:  class="active" -->
				<li th:class="${page} == 'greeting'? 'active'">
					<a href="../greeting.html" th:href="@{/greeting.html}">Home</a>
				</li>
				<li th:class="${page} == 'mandelbrot'? 'active'">
					<a href="../mandelbrot.html" th:href="@{/mandelbrot.html}">Mandelbrot Set</a>
				</li>
				<li th:class="${page} == 'listusers'? 'active'">
					<a href="../listusers.html" th:href="@{/listusers.html}">List Users</a>
				</li>
				<li th:class="${page} == 'about'? 'active'">
					<a href="../about.html" th:href="@{/about.html}">About</a>
				</li>
				<li th:class="${page} == 'contact'? 'active'">
					<a href="../contact.html" th:href="@{/contact.html}">Contact</a>
				</li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>